
# Node.js / TypeScript
node_modules/
dist/
build/
*.log
*.env
*.env.local
*.env.*.local
**/terraform.tfvars
coverage/
.DS_Store

# TypeScript
*.tsbuildinfo

# Golang
bin/
*.exe
*.out
*.test
vendor/
*.mod
*.sum

# Vue.js
node_modules/
dist/
*.log
*.env
*.env.local
*.env.*.local
coverage/
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp

# OS-specific
Thumbs.db
.DS_Store


# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc